<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUSA Apuestas</title>
   
</head>
<body>
    <div class="jumbotron">
    
  <h1 class="display-3">Bienvenido a</h1>
    <h1 class="display-3">TUSA APUESTAS </h1>
    

  <hr class="my-4">
  <P class="lead">Esta es tu pagina de apuesta </P>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Para continuar registrate</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/user/register" role="button">register </a>
  </p>
  <hr class="my-4">
  <P class="lead">Ya tienes una cuenta ?</P>

   <p class="lead">
    <a class="btn btn-primary btn-lg" href="/user/login" role="button">register </a>
  </p>
</div>



   
    
</body>
</html>


