* {
margin: 0;
padding: 0;
}


#sidebar{
    position:fixed;
    width: 200px;
    height: 100%;
    background: #151719;
}

#sidebar ul li {
    color: rgba(230,230,230,.9);
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid rgb(100,100,100, .3);
}

body{
    background-color: #000080
}