<div class="jumbotron">
    
  <h1 class="display-3">Bienvenido a{{username}}</h1>
    <h1 class="display-3">TUSA APUESTAS {{username}}</h1>
    <p class="lead">ya no tienes excusa</p>
    <p class="lead">hoy entraste a este sitio, dizque pa' matar la tusa </p>
  <p class="lead">porque te pagaron mal</p>
  <p class="lead">endurecete y abusa </p>
  <p class="lead">te cansaste de ser un simple espectador, ahora eres tu el que apuesta</p>
   <p class="lead">porque te pagaron mal</p>
    <p class="lead">ya no se te ve sentimental</p>
  <p class="lead">por otra derrota  no lloras, no </p>
  <a class="btn btn-outline-danger" href="https://www.youtube.com/watch?v=tbneQDc2H3I">No creo que estes redy para esto</a>

  <hr class="my-4">
  <P class="lead">Esta es tu pagina de apuesta </P>
  <p class="lead">Para apostar ingresa a una de nuestras 3 competiciones disponibles, selecciona un partido de los diferentes disponibles</p>
  <p class="lead">Recuerda que con cada apuesta correcta ganas el doble del monto apostado</p>
  <hr class="my-4">
  <p>visita tu perfil para ver con cuantas BICHO COINS cuentas  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/user/perfil" role="button">perfil</a>
  </p>
</div>