



<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Perfil</div>
  <div class="card-body">
    <h4 class="card-title">Username</h4>
    <p class="saldo"></p>
    <p class="Equipo favorito"></p>
    <p class="informacion inutil"></p>
    <p class="informacion inutil"></p>
    
  </div>




