



<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"> Tusa perfil</div>
  <div class="card-body">
    <h4 class="card-title">hola {{this.username}}Perfil en progreso </h4>
    <p class="saldo">Saldo :{{this.saldo}}</p>
    <p class="informacion inutil"></p>
    <p class="informacion inutil"></p>
    
  </div>




