<div class="container">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">APUESTA</div>
  <div class="card-body">
    <h4 class="card-title">Equipo 1 contra equipo 2</h4>
    <p class="card-text">Selecion al ganador</p>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Monto a apostar</label>
  <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
</div>

<button type="button" class="btn btn-primary">equipo 1</button>
<button type="button" class="btn btn-secondary">equipo 2</button>


<button type="button" class="btn btn-primary btn-lg">Apostar</button>

  </div>
</div>
</div>