<div class="jumbotron">
  <h1 class="display-3">Equipo</h1>
  <p class="lead">liga</p>
  <p class="lead">Puntos de liga</p>
  <hr class="my-4">
  <p>Director tecnico </p>
  <p>lista de jugadores </p>

  <div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">JUgador</div>
  <div class="card-body">
    <h4 class="card-title">posocion</h4>
    <p class="card-text">Goles</p>
     <p class="card-text">partidos</p>
      <p class="card-text">TAejetas</p>
       <p class="card-text">asistencias</p>
      
  </div>
  
</div>
</div>



<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">JUego</div>
  <div class="card-body">
    <h4 class="card-title">REsultado </h4>
    <p class="card-text">fechas</p>
     <p class="card-text"></p>
  </div>
</div>