<div class="containes"></div>


<div class="jumbotron">
  <h1 class="display-3">Fecha</h1>
  <p class="lead">Equipo 1</p>
  <p class="lead">equipo 2</p>
  <p class="lead">Competicion</p>
  <hr class="my-4">
  <p>Realice su apuesta</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">APUESTA</a>
  </p>
</div>